<h1>Restaurants</h1>
<p><%= link_to "Add a new restaurant", new_restaurant_path, class: "btn btn-success" %></p>
<% @restaurants.each do |restaurant| %>
  <div class="card">
    <h2><%= restaurant.name %></h2>
    <p>address: <%= restaurant.address %></p>
    <p>phone: <%= restaurant.phone_number %></p>
    <p>category: <%= restaurant.category %></p>
    <p>
      <%= link_to "read more on #{restaurant.name}", restaurant_path(restaurant), class: "btn btn-secondary" %>
    </p>
  </div>
<% end %>
