<h1>Reviews for <%= @restaurant.name %></h1>
<%= link_to "Back to #{@restaurant.name}", restaurant_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Write a review for #{@restaurant.name}", new_restaurant_review_path(@restaurant), class: "btn btn-success" %>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <p>rating: <%= review.rating %></p>
      <p>content: <%= review.content %></p>
    </li>
  <% end %>
</ul>
